.container h2 {
  text-align: center;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.card img {
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 150px;
 }

 .card h4 {
  padding-top: 10px;
  margin: 0 auto;
 }
